@use "./variables" as var;
@use "./abstracts" as abs;

//NAVBAR
.navlinks {
	display: flex;
	.link {
		text-decoration: none;
		color: var.$black;
		margin-left: 3rem;
		&:hover {
		}
	}
}

.logo {
	cursor: pointer;
	color: var.$black;
}

.inputRounded .MuiOutlinedInput-root {
	border-radius: 50px;
	background-color: var.$light-grey;
}
